:root {
	--mainBar-color:#818a91; /* Dark Grey */
	--menuBar-color:#cfd5d3; /* Light Grey */
	--footerBar-color:#000000;
	--textColor-white:#FFFFFF;
	--textColor-red:#ef3c39;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0px;
	text-align: center;
}

footer {
	background-color: var(--footerBar-color);
	color: var(--textColor-white);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer > div {
	color: var(--textColor-white);
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	/* background-image: linear-gradient(to right, rgba(244, 111, 11,0.5), rgba(236, 187, 19,0.5)); */
	background-image: url("../graphics/splash.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.mainContent {
	display: flex;
	justify-content: space-between;
	flex: 1;
}

.standard-bar {
	right: 0;
	height: 5%;
 	padding: 0px 10px; 
}

