@import url("../variables/_variables.css");
@import url("../animations/_animations.css");

 *,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
} 

/* Change global font size (assumes default 16px) to 10px and base all other changes off this as rem units */
html {
	 font-size: 62.5%; 
}

body {
	font-family: 'Advent Pro', sans-serif;
	line-height: 1.7;
	padding: 2.5rem;
	box-sizing: border-box; 
 }

.wrapper {
	width: 100%;
	display: flex;
	flex-direction: column; 
	align-items:  center;	 
}

.stickyTop {
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	width: 100%;
  	background-color: var(--color-white);
  	z-index: 100;
}

.navigation  a:link {
	width: 10rem; 
	font-size: 1.3rem;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	color: rgb(var(--color-mainPrimary));
}

.navigation  a:visited {
	color:rgb(var(--color-mainPrimary));
}

.hr__style1 {
 	margin-left: 0;
	margin-right: 0; 
    	border: 0;
    	height: 1px;
    	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(var(--color-mainPrimary)), rgba(0, 0, 0, 0));
}

.header {
 	display: flex;  
	height: 100vh;
	align-items: center;
}

.header__text-box {
	color: rgb(var(--color-mainPrimary));
	margin-left: 10%;
}

.heading__primary {
	font-size: 5rem;
	color: rgb(var(--color-mainPrimary));
	line-height: 10rem;
	animation: fadeIn 1s ease forwards;
	margin-bottom: 4rem;
}

.heading__secondary {
	opacity: 0;
	font-size: 4rem;
	animation: fadeIn 1s ease 1s forwards;
	margin-bottom: 4rem;
}

.heading_tertiary {
	opacity: 0;
	font-size: 4rem;
	animation: fadeIn 1s ease 2s forwards;
}

.contentProject {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	position: relative;
	height: 54rem;
	width: 32rem;
	padding: 1rem 1rem;
	margin-bottom: 3rem;
	text-align: center;
	border-radius: 3px;
 	border: 1px solid var(--color-darkGrey); 
 	color: var(--color-darkGrey);
 	transition: all .5s;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
}

.card:hover {
	transform: scale(1.05) ;
	box-shadow: 3px 4px rgba(0,0,0, .2);
}

.card__header {
	padding-top: 3rem;
	font-size: 3rem;
}

.card_projectDescription {
	font-size: 1.5rem;
}

.card__image {
	flex:2;
}

.card__techUsed > span {
	background-color: rgb(var(--color-mainPrimary), .8);
	border-radius: 2px;
	color: yellow;
	padding: 3px;
	font-size: 1.3rem;
	flex:1;
}